.playArea {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
}

.inner {
  width: 800px;
  margin-bottom: 100px;
}

.mixer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardArea {
  width: 400px;
}

.shuffled {
  color: red;
}
